.PostTopItemsContainer{
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.moreIcons{
    width: 20px;
    height: 20px;
    margin-top: 23px;
    margin-left: 20px;
}
.Cardicons{
    width: 23px;
    height: 23px;
    margin-top: 20px;

}  

.PostContainer{
    display: flex;
    align-items: center;
}

.postContainerLeftbar{
    flex: 0.3;
}
.postContainerRightbar{
    flex: 3;
}
.postContainer:hover{
    border: 1px solid rgb(154, 154, 154);
}
.profile{
    width: 26px;
    height: 26px;
}
